<p id="notice"><%= notice %></p>

<h1>Syasins</h1>

<table>
  <thead>
    <tr>
      <th>Syasin</th>
      <th>Title</th>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @syasins.each do |syasin| %>
      <tr>
        <td><%= syasin.syasin %></td>
        <td><%= syasin.title %></td>
        <td><%= syasin.text %></td>
        <td><%= link_to 'Show', syasin %></td>
        <td><%= link_to 'Edit', edit_syasin_path(syasin) %></td>
        <td><%= link_to 'Destroy', syasin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Syasin', new_syasin_path %>



<%= link_to '/ Home Back', posts_path %>
