<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image, id: :post_image %>
  </div>

  <div class="field">
    <%= form.label :sound %>
    <%= form.text_field :sound, id: :post_sound %>
  </div>

  <div class="field">
    <%= form.label :video %>
    <%= form.text_field :video, id: :post_video %>
  </div> -->

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :post_title %>
  </div>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text, id: :post_text %>
  </div>


  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image, id: :post_image %>
    <%= form.hidden_field :image_cache %>
  </div>


    <div class="field">
      <%= form.label :sound %>
      <%= form.file_field :sound, id: :post_sound %>
      <%= form.hidden_field :sound_cache %>
    </div>


    <div class="field">
      <%= form.label :video %>
      <%= form.file_field :video, id: :post_video %>
      <%= form.hidden_field :video_cache %>
    </div>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
